.App {
	padding: 2em;
	background: linear-gradient(to Top, #dfc90271, #fdae029f);
}
h1 {
	width: fit-content;
	margin: 1em auto 2.5em;
	color: linear-gradient(to Top, #dfc90271, #fdae029f);
	font-size: 3em;
	font-family: "Press Start 2P", cursive;
}
